[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
opencv-python = "*"
numpy = "*"
keras = "*"
matplotlib = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
